.body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    background-color: #f4ede5;
}
.header{
    background-color: #f34949;
    height: 200px;
    display: flex;
    
}
.title{
    font-size: 70px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.spacer {
  flex: 1 1 auto;
}
h1{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.left-card{

}
.left-card button{
    display: inline-block;
    background-color: #f34949;
    border-color: #f34949;
    color: #fff;
    border-radius: 30px;
    padding: 9px 25px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.slider{
    border: 10px solid #efefef; 
	position: relative; 
	overflow: hidden; 
	background: #efefef;
    margin:20px auto;
	width: 768px;
	height: 450px; 
}
.isi-slider img{
    width: 768px;
	height: 450px; 
	float: left;
}
.isi-slider{
    position: absolute; 
	width:3900px;  
 
	/*pengaturan durasi lama tampil gambar bisa di atur di bawah ini*/
	animation-name:slider;
	animation-duration:16s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	-webkit-animation-name:slider;
	-webkit-animation-duration:16s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:slider;
	-moz-animation-duration:16s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:slider;
	-o-animation-duration:16s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count:infinite;
}
 
 
/*saat gambar di hover oleh cursor mouse maka berhenti slide*/
.isi-slider:hover { 
	-webkit-animation-play-state:paused; 
	-moz-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; }

 
.isi-slider img { 
	float: right; 
}
 
.malasngoding-slider:after { 
	font-size: 150px; 
	position: absolute; 
	z-index: 12; 
	color: rgba(255,255,255, 0); 
	left: 300px; top: 80px; 
	-webkit-transition: 1s all ease-in-out; 
	-moz-transition: 1s all ease-in-out; 
	transition: 1s all ease-in-out; 
}
