.body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    background-color: #f4ede5;
}
.header{
    background-color: red;
    height: 200px;
    display: flex;
}
.spacer {
  flex: 1 1 auto;
}
h1{
    color: aqua;
}