<!DOCTYPE html>

<html lang="en">
<head>
    <title> Home Page - Sushi Restaurant</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
		<div class="title">
		<h1>Sushi Resto</h1>	
		</div>
    </div>
	<div class="nav">
		<button mat-button routerLink="/">Home</button>
		<button mat-button routerLink="/login">Login</button>
		
	</div>
	
	<mat-card>
		<mat-card-content>
			<div class="left-card">
				<h1>We Love <br>Delicious Food!</h1>
				<button mat-button routerLink="/menu">Explore Menu</button>
			</div>
			<div class="right-card">
				<div class="slider">
					<div class="isi-slider">
						<img [src]="assets/pict1.jpeg">
						<img [src]="assets/pict2.jpeg">
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>

</body>
</html>
